
@{
    ViewBag.Title = "Word";
}

<h2>Word</h2>

<form method="POST" action="ConvertToRobbers">
    <div>
        <label id="">Please enter the word you want to convert in Robber's Language'</label>
        <input id="" type="text" name="wordInput" />
    </div>
    
    <div>
        <input type="submit" value="Convert" />
    </div>


</form>
