
@{
    ViewBag.Title = "StartAuction";
}

<h2>Start Auction</h2>

<p>HI...</p>

<form method="POST" action="FindWinner">
    
    <h6>Please enter your name and your auction amount</h6>
    
    <div>
        <label id="p1">Name of Person 1</label>
        <input id="p1" type="text" name="personNames" />
    </div>

    <div>
        <label id="v1">Please fill in your Auction Amount</label>
        <input id="v1" type="number" name="amountsBidded" min="0" />

    </div>

    <div>
        @*<h6>Please enter your name and your auction amount</h6>*@
        <label id="p2">Name of Person 2</label>
        <input id="p2" type="text" name="personNames" />
    </div>

    <div>
        <label id="v2">Please fill in your Auction Amount</label>
        <input id="v2" type="number" name="amountsBidded" min="0" />

    </div>

    <div>
        @*<h6>Please enter your name and your auction amount</h6>*@
        <label id="p3">Name of Person 3</label>
        <input id="p3" type="text" name="personNames" />
    </div>

    <div>
        <label id="v3">Please fill in your Auction Amount</label>
        <input id="v3" type="number" name="amountsBidded" min="0" />

    </div>


    <div>
        <input type="submit" value="Find winner" />
    </div>
</form>

