
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>

<h3>Welcome to the Silent Auction(J2 problem)</h3>

<p>Let us take the amount of auction from 3 random people and see who wins the auction.</p>

<h4>Let's go!!!'</h4>

<form method="POST" action="StartAuction">
<div>
    <input type="submit" value="Start Auction" />
</div>
</form>